.main{
    /* border: 1px solid red; */
    /* height: 580px; */
    width: 1300px;
    margin: auto;
    margin-top: 50px;
}

.first-container{
    /* border: 2px solid rgb(235, 248, 88); */
    /* height: 340px; */
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.second-container{
    /* border: 2px solid rgb(75, 143, 246); */
    width: 1000px;
    margin: auto;
    /* height: 200px; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box-1{
    /* border: 1px solid red; */
    width: 350px;
    height: 330px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    color: #242F9B;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-1 h3{
    font-size: 2.5rem;
}
.box-1 h1{
    font-size: 3.5rem;
}




.box-2{
    /* border: 1px solid red; */
    width: 250px;
    height: 330px;
    border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      text-align: center;
      color: #242F9B;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      
      flex-direction: column;
    align-items: center;
}
.box-2 p{
    
}



.iframe{
    width: 600px;
    height: 330px;
    border-top-left-radius: 30px;
          border-bottom-right-radius: 30px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}





.small-box{
    /* border: 1px solid red; */
    width: 180px;
    height: 130px;
    text-align: center;
    line-height: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}










@media screen and (min-width:0) and (max-width:415px){
    .main{
        width: 700px;
       gap: 20px;
       padding: 20px;
    }  
    
    .second-container{
        width: 700px;
        gap: 20px;
    }    
    
}



@media screen and (min-width:416px) and (max-width:768px){
    .main{
        /* border: 1px solid rgb(18, 3, 3); */
        width: 1000px;
       gap: 30px;
       padding: 30px;
    }
    
    .first-container{
        /* border: 2px solid rgb(235, 248, 88); */
        gap: 70px;
    }
    
    .second-container{
         /* border: 1px solid red; */
        width: 1000px;
        gap: 80px;
    }

    .iframe{
        width: 955px;             
    }
}



