.nav{
    background-color: #DBDFFD;
    width: 100vw;
    height: 65px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
   width: 18rem;
   height: 1.8rem;  
   font-size: 1.1rem;
   border-top-left-radius: .7rem;
}
.btn{
    width: 5rem;
    height: 2.2rem;
    font-size: 1.1rem;
    background-color: #646FD4;
    border: none;
    color: white;
    border-bottom-right-radius: .7rem;
}

